.navbar{
	grid-area: nav;
  background: #1D0930;
}
.arrow {
  background: #372943;
  padding: 18px;
  padding-left: 10px;
  padding-top: 20px;
  height: 70px;
  position: relative;
}
.arrow::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: -53px;
  border: 32px solid transparent;
  border-top: 22px solid #372943;
}
.navbar_item1{
  margin-top: 60px;
  width:35px;
  padding-left:8px;
}
.navbar_icon{
  color: #6A6B7C;
  cursor: pointer;
  font-size: 21px;
}
.navbar_icon:hover{
	color: #62CEC5;
}
.navbar_item1 a.active, .navbar_item2 a.active, .navbar_item3 a.active{
  border-left: 3px solid #62CEC5;
  padding-left: 13px;
  margin-left: -16px;
  padding-top:3px;
}
.navbar_item2 a.active{
  margin-left:-18px;
  padding-left: 15px;
}
.navbar_item1 a.active svg, .navbar_item2 a.active svg, .navbar_item3 a.active svg{
  color: #62CEC5 !important;
}
.navbar_item2{
  margin-top: 30px;
  padding-left: 5px;
}
.navbar_elem1{
  border-top: 1px solid #6A6B7C;
  border-bottom: 1px solid #6A6B7C;
  padding-bottom: 25px;
  margin-top: 40px;
  width:30px;
  margin-left:14px;
}
.navbar_item3{
  margin-top: 25px;
  padding-left: 18px;
}
.navbar_elem2{
  margin-top: 160px;
}
.navbar_elem3{
  padding-left: 3px;
}
.tooltip{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #372943;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  text-align: left;
  border-radius: 6px;
  padding: 14px 10px 14px 10px;
  margin-left: 30px;
  position: absolute;
  z-index: 1;
  top: -14px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #372943 transparent transparent;
}




